{% if file_path_and_key is not empty and valid and form.parent.vars.valid %}
	<div class="row">
		<div class="col-md-12" style="margin-bottom: 15px;">
			{% if is_image %}
				<div class="image-container mt-1">
					<img class="automatic-file-preview" width="200px" src="{{fileUrl(file_path_and_key, file_url_options)}}"/>
                    {% if delete_route is not empty and valid %}
                        <a class="remove-image" href="{{ path(delete_route, delete_route_parameters) }}" style="display: inline;">&#215;</a>
                    {% endif %}
				</div>
			{% else %}
				<a class="automatic-file-preview" href="{{fileUrl(file_path_and_key, file_url_options)}}" target="_blank"/>Descargar</a>
		{% endif %}
	</div>
</div>
{% endif %}
{% block stylesheets %}

<style>
	.image-container {
		position: relative;
        width: 200px
	}

	.image-container img {
		max-width: 100%;
		height: auto;
	}
	.remove-image {
		display: none;
		position: absolute;
		top: -10px;
		right: -10px;
		border-radius: 10em;
		padding: 2px 6px 3px;
		text-decoration: none;
		font: 700 21px / 20px sans-serif;
		background: #555;
		border: 3px solid #fff;
		color: #FFF;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 2px 4px rgba(0, 0, 0, 0.3);
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
		-webkit-transition: background 0.5s;
		transition: background 0.5s;
	}
	.remove-image:hover {
		background: #E54E4E;
		padding: 3px 7px 5px;
		top: -11px;
		right: -11px;
	}
	.remove-image:active {
		background: #E54E4E;
		top: -10px;
		right: -11px;
	}
</style>{% endblock %}
